<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>myMonitor</display-name>
  <welcome-file-list>
	<welcome-file>login.jsp</welcome-file>
	<welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>PagesFilter</filter-name>
    <filter-class>myMonitor.Filter.PagesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PagesFilter</filter-name>
    <url-pattern>/pages/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PagesFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>myMonitor.Servlet.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/servlet/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>myMonitor.Servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/servlet/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>myMonitor.Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/servlet/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatePassword</servlet-name>
    <servlet-class>myMonitor.Servlet.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePassword</servlet-name>
    <url-pattern>/servlet/updatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CPUPerc</servlet-name>
    <servlet-class>myMonitor.Servlet.CPUPercServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CPUPerc</servlet-name>
    <url-pattern>/servlet/CPUPerc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>diskContent</servlet-name>
    <servlet-class>myMonitor.Servlet.diskContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>diskContent</servlet-name>
    <url-pattern>/servlet/diskContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FilesSys</servlet-name>
    <servlet-class>myMonitor.Servlet.FilesSysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilesSys</servlet-name>
    <url-pattern>/servlet/FilesSys</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showFiles</servlet-name>
    <servlet-class>myMonitor.Servlet.showFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showFiles</servlet-name>
    <url-pattern>/servlet/showFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadFile</servlet-name>
    <servlet-class>myMonitor.Servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFile</servlet-name>
    <url-pattern>/servlet/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downloadFile</servlet-name>
    <servlet-class>myMonitor.Servlet.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadFile</servlet-name>
    <url-pattern>/servlet/downloadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downloadFile1</servlet-name>
    <servlet-class>myMonitor.Servlet.DownloadFileServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadFile1</servlet-name>
    <url-pattern>/servlet/downloadFile1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteFile</servlet-name>
    <servlet-class>myMonitor.Servlet.DeleteFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteFile</servlet-name>
    <url-pattern>/servlet/deleteFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoteDesktopScreen</servlet-name>
    <servlet-class>myMonitor.Servlet.RemoteDesktopScreenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoteDesktopScreen</servlet-name>
    <url-pattern>/servlet/RemoteDesktopScreen</url-pattern>
  </servlet-mapping>
</web-app>